* {
    box-sizing: border-box;
  }

body{
    background-color: #BE544D;
    padding:10px;
}

.heading{
    border:1px solid #BE544D;
    width:1300px;
}

.banner{
    width:1300px;
    text-align:center;
    color:white;
}

#companyName{
    height:fit-content;
    width:1300px;
    font-size:32px;
    margin-left:25px;
}
#companyName h1{
    vertical-align: bottom;
    position:relative;
    top:28px;
    left:50px;
    font-family: 'Michroma', sans-serif;
    font-weight:lighter;
    font-stretch: expanded;


}

#companySlogan {
    font-style: oblique;
    font-stretch:narrower;
    height:fit-content;
    width:1300px;
    margin-left:25px;
}

#companySlogan h2{
    position:relative;
    top:-17px;
    left:51px;
    font-family: monospace;
    border-top:1px solid white;

}

.main{
    background-color:#F8A794;
    width:1300px;
    height:660px;
    position:relative;
    left:75.665px;
    box-shadow: 20px 20px 60px black;


}

.secondColor{
    background-color: rgb(139, 26, 26);
    width: 500px;
    height:660px;
    position:absolute;
    left:800px;
   
    opacity:99%;

}

.navigation{
    /*border:1px solid white;*/
    z-index: 1;
}

ul{
    padding:30px 0 0 30px;
    list-style:none;
}

li{
    float:left;
    color:white;
    font-family:'Arial Narrow';
    font-size: 18px;
    font-stretch: narrower;
    margin:0 5px;
}

a{
  color: white;
  text-decoration: none;  
}

a:hover{
    color:black;
}

a:active{
    color:#78221c;
}

#logo{
    height:5px;
}

img{
    width:250px;
    float:right;
    z-index:1;
    padding: 30px;
    clear:right;
    
}

#promotion{
    width:590px;
    position:relative;
    top:100px;
    padding:0 30px;
}

.text {
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
}

.promoHook{
    text-align:center;
    padding:0 30px;
    height:60px;
    font-family: 'Monoton', cursive;
    font-size: 32px;
    position:relative;
    top:-84px;
    
}

.infoBlurb{
    position:relative;
    top:-49px;
    text-align: right;
}

.portrait{
    width:300px;
    left: 200px;
}

.portrait img{
    width:530px;
    position:absolute;
    left: 580px;
    top: 18px;
    z-index: 1;
}

.button{
position:relative;
left:230px;
top:-10px;

}

button{
    border-radius: 8px;
    background-color:#fad8cf;
    border:#fad8cf;
    margin: 0 10px;
    font-size: 16px;
    color:#240502;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

button:hover{
    background-color: #78221c;
    color:#dac3c1
}

button:active{
    background-color:#BE544D;
    color: #fff;
}