*{
    border:0;
}

html{
    font-size: 18px;
    color:#494646;
}

.container{
    display: grid;
    width: 100%;
    background-color:beige;
    grid-template-areas:"header header" "nav-banner nav-banner" 
    "main main" "footer footer";
    grid-template-rows: 200px 50px 700px 150px;
    grid-template-columns: 1fr 1fr;
}

header{
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

h1{
    font-size: 2.2rem;
    letter-spacing: .6rem;
    text-align: center;
}

#nav-banner{
    grid-area: nav-banner;
    background-color:paleturquoise;
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;

}

ul a{
    font-size: .7rem;
    text-decoration: none;
    margin: 0 10px;
    color:#494646;
    letter-spacing: .9px;
}

#main{
    grid-area: main;
    width:100%;
    display: flex;
}

.content{
    height: 40%;
    width:200px;
    margin: 5%;
}

 img{
    max-width: 100%;
    height: auto;
    display: block;
 }


footer{
    grid-area: footer;
    background-color:gainsboro;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

h3{
    margin-left: 5%;
    font-size: .8rem;
    letter-spacing: .9px;

}

