
/*Global*/
*{
    margin:0;
}

body{
    background-image: url("blackRain.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
}

/*Banner*/
header{
    background-color: #8c1c13;
    display: flex;
    flex-wrap: wrap;
    max-height: 350px;
    width: 100%;
    justify-content: space-between;
}

header img{
    flex: 0 2 300px;
    display: flex;
    max-height: inherit;
    min-width: 0;
}

h1{
    font-family: 'Silkscreen', cursive;
    display: flex;
    flex: 0 1 300px;
    align-content: center;
    flex-wrap: wrap;
    text-align: right;
}

ul{
    display: flex;
    flex: 0.1 2 250px;
    list-style: none;
    font-family: 'Merriweather', serif;
    align-content: flex-end;
    justify-content:space-around;
    flex-wrap: wrap;
    padding-bottom: 8px 0;

}

a{
    text-decoration: none;
    color: #e7d7c1;
}

/*Main Body - Images*/
#main{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    padding: 100px;
}

.image-surround{
    padding: 15px 10px;
    margin: 30px;
    display: flex;
    flex: 0 1 300px;
    max-width: 300px;
    background-color: #a78a7f;
}

.image-surround img{
    object-fit: contain;
    max-width:100%;
}

.image-surround a{
    font-family: 'Merriweather', serif;
    display: flex;
    flex-wrap: wrap;
}